#  This file has to be rename to .env

PORT=5000
NODE_ENV=development

# MongoDB Parameters
MONGODB_URI=mongodb+srv://usernme:password@clusterName.../dbName?retryWrites=true&w=majority

# Validation parameters
PASSWORD_MIN_LENGTH=<number>
PASSWORD_MAX_LENGTH=<number>